%% {erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{cover_enabled, true}.

{deps, [
        {lager, ".*", {git, "https://github.com/basho/lager.git", "HEAD"}},
	{mongodb, ".*", {git, "http://github.com/TonyGen/mongodb-erlang.git", "HEAD"}}		
       ]
}.

